@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Titan+One&display=swap');


.introPage {
  text-align: center;
  animation: wiggle 1.5s infinite;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.introHeader {
  font-family: 'Titan One', cursive;
  font-size: 15px;
  text-shadow: 4px 4px 4px grey;
  color: red;
  text-align: center;
}
