@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Titan+One&display=swap');


.intro-page {
  text-align: center;
  animation: wiggle 1.5s infinite;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.intro-header {
  font-family: 'Titan One', cursive;
  font-size: 15px;
  text-shadow: 4px 4px 4px grey;
  color: red;
  text-align: center;
}

.vehicle-form {
  text-align: center;
}

.app-header {
  text-align: center;
}

.form-text {
}
